@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div id="loginForm">
    <form>
        
        <input type="text" id="userName" name="userName" placeholder="User Name" />
        <input type="password" id="password" name="password" placeholder="Password" />
    </form>
    <button id="search" onclick="login()">Login</button>
  
</div>


<div id="studentForm">
    <form>
        

        <input type="text" id="loginStatus" name="loginStatus" placeholder="Login Status" />
        <input type="text" id="centName" name="centName" placeholder="Center Name" />
    </form>
  
    <button id="status" onclick="getStatus()">GetStatus</button>
    <button id="showAllCenters" onclick="showAllCenters()">Show All Centers</button>
    <button id="addNewCentre" onclick="addNewCentree()">Add New Centre</button>

    <div id="tblDynamic">
        <table>
           
        </table>
    </div>

</div>



<script>

    function getStatus() 
    {
        $.ajax({
            url: '/Admin/GetStatus/',
            contentType: 'application/json',
            success: function (data, textStatus, jQxhr) 
            {
                $("#loginStatus").val(data);
            },
            error: function (xhr, textStatus, error) {
                alert("Error");
                console.log(xhr.statusText);
                console.log(textStatus);
                console.log(error);
            }

        });
    }


    function login() 
    {
        $.ajax({
            type: 'POST',
            url: '/Admin/Login/',
            contentType: 'application/json',
            data: JSON.stringify(
            {
                "UserName": $('#userName').val(),
                "Password": $('#password').val()
            }),
            success: function (data, textStatus, jQxhr)
            {
               alert("Successfully Logged In");
               getStatus();
            },
            error: function (xhr, textStatus, error) 
            {
                alert(xhr.responseText);
                getStatus();
                console.log(xhr.statusText);
                console.log(textStatus);
                console.log(error);
            }

        });
    }


    function showAllCenters()
        {
        $.ajax({
            type: 'GET',
            url: '/Admin/showAllCentres/',
            contentType: 'application/json',
            dataType: "json",
            processData: false,
            success: function (data, textStatus, jQxhr) 
            {
               alert("Successfully Loaded the Centres List");
               var jsonObj = data;

                var strHTML = ' <caption><b>Community Centres List</b></caption><tr><th>Centre Name</th><th>Booking Status</th><th>Start Date</th><th>End Date</th><th>Booked User Name</th></tr>';
                $(jsonObj).each(function () {
                    var row = $(this)[0];
                    strHTML += '<tr><td>' + row["centreName"] + '</td><td>' + row["bookStatus"] + '</td><td>'
                        + row["startDate"] + '</td><td>' + row["endDate"] + '</td><td>' + row["bookedUserName"] + '</td></tr>';
                });

                $('#tblDynamic').html(strHTML);
            },
            error: function (xhr, textStatus, error) 
            {
                alert("Error");
                console.log(xhr.statusText);
                console.log(textStatus);
                console.log(error);
            }

          
        });

    }


    function addNewCentree()
    {
        $.ajax({
            type: 'POST',
            url: '/Admin/addNewCentre/',
            contentType: 'application/json',
            data: JSON.stringify(
                {
                    "Name": $('#centName').val()
                }),
            success: function (data, textStatus, jQxhr) 
            {
                alert("Data Successfully Inserted");
            },
            error: function (xhr, textStatus, error) 
            {
                alert(xhr.responseText);
                console.log(xhr.statusText);
                console.log(textStatus);
                console.log(error);
            }
        });
    }




</script>