@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="tblDynamic">
    <table>
    </table>
</div>

<div id="studentForm">
    <form>
       
        <input type="text" id="centreName" name="centreName" placeholder="Centre Name" />

        <p><strong> Here Enter the Search centres names:</strong></p>
        <input type="text" id="searchText" name="searchText" placeholder="Search Text" />

    </form>

    <button id="showAllCenters" onclick="showAllCenters()">Show All Centers</button>
    <button id="search" onclick="search()">Search</button>
    <button id="clear" onclick="clearr()">Clear</button>
    <input type="text" id="nextDate" name="nextDate" placeholder="Next Available Start Date" />
    <button id="showNextAvailableStartDate" onclick="showNextAvailableStartDate()">Show Next Available Start Date</button>

    <p><strong> /**********************************/</strong></p>
    <p><strong> Here Enter the Booking Details:</strong></p>
    <p><strong> /**********************************/</strong></p>

    <input type="text" id="personName" name="personName" placeholder="Booking Person Name" />
    <input type="text" id="bookCentreName" name="bookCentreName" placeholder="Booking Centre Name" />
    <input type="text" id="stDate" name="stDate" placeholder="Start Date" />
    <input type="text" id="enDate" name="enDate" placeholder="End Date" />
    <p><strong> /**********************************/</strong></p>

    <button id="addBooking" onclick="addBooking()">Add Booking</button>

</div>



<script>


    function showAllCenters() {
        $.ajax({
            type: 'GET',
            url: '/User/showAllCentres/',
            contentType: 'application/json',
            dataType: "json",
            processData: false,
            success: function (data, textStatus, jQxhr) {
                alert("Successfully Loaded the Centres List");
                var jsonObj = data;

                var strHTML = ' <caption><b>Community Centres List</b></caption><tr><th>   Centre Name    </th></tr>';
                $(jsonObj).each(function () {
                    var row = $(this)[0];
                    strHTML += '<tr><td>' + row["centreName"] + '</td></tr>';
                });

                $('#tblDynamic').html(strHTML);
            },
            error: function (xhr, textStatus, error) {
                alert("Error");
                console.log(xhr.statusText);
                console.log(textStatus);
                console.log(error);
            }


        });

    }


    function showNextAvailableStartDate()
    {
        $.ajax({
            type: 'POST',
            url: '/User/showNextAvailableDate/',
            contentType: 'application/json',
            data: JSON.stringify(
                {
                    "CentreName": $('#centreName').val()
                }),

            success: function (data, textStatus, jQxhr) 
            {
                alert("successfully found the Next Avilable Start Date");

                $("#nextDate").val(data);
            },
            error: function (jqXhr, textStatus, errorThrown) 
            {
                alert(jqXhr.responseText);
                 $("#nextDate").val('');
                console.log(xhr.statusText);
                console.log(textStatus);
                console.log(error);
            }
        });
    }


    function clearr() 
    {
       let inputs = document.querySelectorAll('input');

       inputs.forEach(input => input.value = '');
       $('#tblDynamic').html('');
    }



    function search() 
    {
        $.ajax({
            type: 'POST',
            url: '/User/search/',
            contentType: 'application/json',
            data: JSON.stringify(
                {
                    "SearchStr": $('#searchText').val(),
                }),

            success: function (data, textStatus, jQxhr) {
                alert("successfully found the Data");
                var obj = JSON.parse(data);
                $("#centreName").val(obj.CentreName);
                $("#bookStatus").val(obj.BookStatus);
                $("#startDate").val(obj.StartDate);
                $("#endDate").val(obj.EndDate);
                $("#bookedUserName").val(obj.BookedUserName);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                alert(jqXhr.responseText);
                clearr();
                console.log(xhr.statusText);
                console.log(textStatus);
                console.log(error);
            }
        });
    }



    function addBooking() 
    {
        $.ajax({
            type: 'POST',
            url: '/User/addBooking/',
            contentType: 'application/json',
            data: JSON.stringify(
                {
                    "PersonName": $('#personName').val(),
                    "CentreName": $("#bookCentreName").val(),
                    "StartDate": $("#stDate").val(),
                    "EndDate": $("#enDate").val()
                }),
            success: function (data, textStatus, jQxhr) 
            {
                alert("Successfully Booked");
            },
            error: function (xhr, textStatus, error) 
            {
                alert(xhr.responseText);
                console.log(xhr.statusText);
                console.log(textStatus);
                console.log(error);
            }
        });
    }






</script>
