body {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

div#header {
    background-image: url(../images/Curtin_0.png);
    background-size: 1024px 150px;
    height: 150px;
}

div#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
}

div#navigation li {
    float: left;
}

    div#navigation li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }

        div#navigation li a:hover {
            background-color: #111111;
        }

div#main {
    background-color: palegreen;
    height: 6000px;
}

div#studentForm {
    width: 500px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
}


div#tableview {
    width: 900px;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

div#tblDynamic {
    width: 1200px;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

input {
    display: block;
    margin: 20px 20px 20px 20px;
}

button {
    margin: 20px 20px 20px 20px;
}

div#footer {
    background-color: lightcoral;
    text-align: center;
    height: 100px;
}

table, th, td {
    border: 1px solid black;
}

img {
    width: 150px;
    height: 150px;
}

td {
    text-align: center;
    vertical-align:middle;
}
